#container {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5);
  gap: 15px;
}

#container>div {
  box-shadow: rgba(0, 0, 0, 300) 0px 3px 8px;
  text-align: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 300) 0px 3px 8px;
  border-radius: 12px;
}

.photo {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}

.logo {
  width: 100%;
  height: 50px;
  margin-top: -15px;
}

#container>div>p {
  height: 10px;
  font-size: 15px;
  margin-top: 0px;
  color: gray;
}

#container>div>h2 {
  margin: 2px;
}

#heading {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);

  gap: 10px;

}

#heading>div>img {
  width: 100%;
}

.top {
  text-align: center;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
}

.about-section {
padding: 50px;
text-align: center;
background-color: #474e5d;
color: white;
}

@media all and (min-width:770px) and (max-width:1020px) {
  #container {
      width: 95%;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(7);
      margin-top: 50px;
  }

  .top {
      font-size: 25px;
  }
}

@media all and (min-width:480px) and (max-width:770px) {
  #container {
      width: 95%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(10);
  }

  .mid {
      font-size: 25px;
  }

  #heading {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
  }
}

@media all and (min-width:80px) and (max-width:480px) {
  #container {
      width: 95%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(10);
      margin-top: 20px;
  }

  #container>div>h2 {
      font-size: 14px;
  }

  .logo {
      width: 60%;
  }

  #container>div>p {
      font-size: 12px;
  }

  .mid {
      font-size: 19px;
  }

  #heading {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
  }

  .top {
      font-size: 20px;
  }
}